/* Remove all styles when you start, it is just a demo */

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#action-button{
    background-color: aqua;
    box-shadow: 2px 2px 4px 0px grey;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

#action-button:active{
    transform: scale(.9);
    box-shadow: 1px 1px 5px 0px grey;
}

.square{
    background-color: red;
    width: 50px;
    height: 50px;
    margin: 20px;
}

.square.rotate{
    animation: linear rotate infinite 1s;
}
